.scatterplotfilter {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.scatterplotfiltername {
  margin: 5px 5px 5px 10px;
}

.scatterplotoptionscontainer {
  width: 80%;
  margin: 5px 5px 5px 10px;
  border: solid black 1px;
  height: auto;
  max-height: 300px;
  overflow: scroll;
}
